@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .cut-one-line {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}
