@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply text-black dark:text-white shadow-lg bg-[#FFFFFF] dark:bg-[#1F1F1E] rounded-lg;
  }
}

/*custom font for all text*/
html {
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

/* playlist time picker font size changes*/
.flatpickr-hour,
.flatpickr-minute {
  font-size: 1.5rem !important;
}

/* change cointainer to maintain aspect ratio of image inside the caroussel*/
.de .swiper-container {
  width: 100%;
  height: auto;
}
.swiper-slide {
  width: auto;
  height: auto;
}
.swiper-container img {
  width: 100%;
  height: auto;
}
